<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cheaply | Signup</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web-Portal">
  <link rel="apple-touch-icon" href="">
  <meta name="msapplication-TileImage" content="">
  <meta name="msapplication-TileColor" content="#2aabd2">


<link rel="stylesheet" href="/css/form.css">

</head>
<body >

    <form class="box" action="" method="post">
      <h1><b>Sign up</b></h1>
      <input type="email" name="" placeholder="Email address">
      <input type="tel" name="" placeholder="Phone Number">
      <input type="password" name="" placeholder="Password">
      <input type="password" name="" placeholder="Confirm Password">
      <input type="submit" name="" value="Sign up">
      <br>
      <a href="/login">Login instead</a>
    </form>



</body>


</html>
